@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,700&display=swap');


body {
    margin: 0;
    padding: 0px 180px;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

.main-content-box {
    display: grid;
    grid-template-columns: 285px 1fr 285px;
    justify-items: center;
    column-gap: 8px;
}

.content-box-leftside {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 10px;
}

.content-box-leftside--icon img {
    width: 28px;
    height: 28px;
    padding-left: 10px;
}

.content-box-leftside--home {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 7px 20px;
    border-radius: 20px;
    width: auto;
}

.content-box-leftside--home p{
    font-size: 1.8rem;
    text-align: center;
    padding-top: 5px;
    margin: 0;  
}

.content-box-leftside--home:hover {
    background-color: #f7f9f9;
}

.content-lefside-home--icon {
    display: inline-block;
    background-image: url("./assets/home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
}

.content-lefside-home--explore {
    display: inline-block;
    background-image: url("./assets/hash.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
}

.content-lefside-home--notifications {
    display: inline-block;
    background-image: url("./assets/bell.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
}

.content-lefside-home--messages {
    display: inline-block;
    background-image: url("./assets/letter.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
}

.content-lefside-home--bookmarks {
    display: inline-block;
    background-image: url("./assets/saved.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
}

.content-lefside-home--list {
    display: inline-block;
    background-image: url("./assets/file.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
}

.content-lefside-home--profile {
    display: inline-block;
    background-image: url("./assets/user.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
}

.content-lefside-home--more {
    display: inline-block;
    background-image: url("./assets/more.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
}

.content-box-leftside-tweetbuttom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.content-box-leftside-tweetbuttom .tweetbutton {
    display: inline-block;
    font-family: 'DM Sans', sans-serif;
    width: 210px;
    height: 48px;
    border-radius: 32px;
    border: none;
    box-shadow:  7px 7px 29px #d0d0d0,
             -7px -7px 29px #ffffff;
    background-color: #1d9bf0;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
}

.tweetbutton:hover {
    background-color: #1c89d1;
}

.content-box-leftside--profilename {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 32px;
    padding: 5px 20px;
    margin-bottom: 10px;
    margin-top: 70px;
    width: 210px;
}

.profilename--image {
    display: inline-block;
    background-image: url("https://pbs.twimg.com/profile_images/1523491209150353409/nYgK7EE9_400x400.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.profilename--tags p {
    margin: 0;
}

.profilename--tags .name {
    font-size: 1.6rem;
    font-weight: 800;
}

.profilename--tags .nametag {
    color: #657580;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 5px;
} 

.profilename--pointsmenu {
    display: inline-block;
    background-image: url("./assets/more-points.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15px;
    width: 15px;
    border-radius: 20px;
    margin-left: 30px;
}

.content-box-center {
    border: 1px solid #f3f6f7;
}

.content-box-center-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    gap: 35px;
    margin-bottom: 5px;
}

.header--arrow {
    display: inline-block;
    background-image: url("./assets/arrow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
}

.center-header-text p {
    margin: 0;
}

.header-text--name {
    font-size: 1.8rem;
    font-weight: bolder;
}

.header-text--tweets {
    font-size: 1.2rem;
    font-weight: 300;
    color: #536471;
}

.content-box-center-portada img {
    width: 100%;
}

.content-box-center-profile {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.center-profile--picture {
    background-color: #1d9bf0;
    width: 120px;
    height: 120px;
    margin: 0;
    border-radius: 65px;
    overflow: hidden;
    border: 5px solid rgb(255, 255, 255);
    position: absolute;
    top: -60px;
    left: 15px;
}

.center-profile--picture img {
    width: 100%;
    height: 100%;
}

.center-profile--text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
    margin-top: 8px;
    background-color: #ffffff;
    height: 35px;
    width: 100px;
    border-radius: 20px;
    border: 1px solid #cfd9de;
    padding: 5px 10px;
}

.center-profile--text p {
    margin: 0;
    font-weight: bold;
    font-size: 1.4rem;  
}

.content-box-center-info {
    padding-top: 40px;
    margin-left: 20px;
}

.center-info-tags p{
    margin: 0;
}

.tags--name {
    font-size: 1.8rem;
    font-weight: bold;
}

.tags--user {
    font-size: 1.2rem;
    font-weight: 500;
    color: #7a8791;
}

.center-info-description {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 20px 0px 0px;
}

.center-info-date {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.center-info-date--image {
    display: inline-block;
    background-image: url("./assets/calendar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
}

.center-info-date {
    font-size: 1.2rem;
}

.center-info-netcount {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.center-info-netcount p {
    font-size: 1.4rem;
    margin: 0;
}

.content-box-center-topics {
    margin-top: 22px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 10px;
}

.content-box-center-topics div:hover {
    background-color: #f7f9f9;
}

.content-box-center-topics div p {
    margin: 10px;
    font-size: 1.4rem;
}

.content-box-center-topics div p:active  {
    border-bottom: 2px solid #1d9bf0;
}

.content-box-rightside {
    width: 100%;
    margin-top: 10px;
    margin-left: 20px;
}

.rightside-searchinput {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    box-sizing: border-box;
    background-color: #eff3f4;
    width: 90%;
    padding-top: 10px 0px;
    height: 38px;
    width: 280px;
    border-radius: 20px;
}

.rightside-searchinput:active {
    border: 1px solid #1c89d1;
}

.rightside-searchinput--image {
    display: inline-block;
    background-image: url("./assets/magnifying-glass.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
}

.rightside-searchinput input {
    height: 22px;
    width: 200px;
    outline: none;
    border: none;
    background-color: #eff3f4;
}

.content-box-collage {
    width: 100%;
    margin-top: 25px;
    background-color: #ffffff;
    height: 190px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2px;
    overflow: hidden;
}

.collage-image img {
    width: 100%;
    height: 100px;
}

.content-box-followrecommend {
    background-color: #eff3f4;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 0px 15px;
    border-radius: 20px;
}

.follow-recommed--title {
    display: flex;
    justify-content: flex-start;
    justify-items: center;
}

.follow-recommed--title h1 {
    font-size: 1.8rem;
}

.follow-recommend-user .users {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 18px;
    position: relative;
}

.user--photo {
    background-color: #1c89d1;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    overflow: hidden;
}

.user--photo img {
    width: 100%;
}

.user--tags p {
    margin: 0; 
}

.user--name {
    font-size: 1.4rem;
    font-weight: bold;
}

.user--hash {
    font-size: 1.3rem;
    color: #a6afb6;
}

.user--boton {
    width: 70px;
    border-radius: 15px;
    padding: 5px 12px;
    color: white;
    background-color: black;
    font-weight: bold;
    text-align: center;
    margin-left: 34px;
    position: absolute;
    right: 0;
}

.follow-recommend-footer {
    display: flex;
    justify-content: flex-start;
}

.follow-recommend-footer p {
    font-size: 1.3rem;
    color: #43abf1;
}

.trends-box-content {
    background-color: #eff3f4;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 20px;
    padding: 5px 12px;
}

.trends-content {
    position: relative;
    margin-bottom: 15px;
}

.trends-tittle {
    display: flex;
    justify-content: flex-start;
    justify-items: center;
}

.trends-tittle h1{
    font-size: 1.8rem;
    margin: 5px 0px 14px 0px
}

.trends-content--points {
    display: inline-block;
    background-image: url("./assets/more-points.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 13px;
    width: 13px;
    position: absolute;
    right: 0;
    top: 0;
}

.trends-content p {
    margin: 0px 0px 2px 0px;
}

.trends-content--toptext {
    font-size: 1.2rem;
    color: #a6afb6;
    font-weight: 500;
}

.trends-content--centertext {
    font-weight: bold;    
    font-size: 1.4rem;
}

.trends-content--downtext {
    font-size: 1.2rem;
    color: #a6afb6;
    font-weight: 500;
}